.project-form {

  &-container {
    height: 531px;
    padding: 40px 32px 27px;
    width: 430px;
  }

  &-title {
    text-align: center;
  }

  &-field {
    width: 100%;
    margin-bottom: 10px !important;
  }
}