.address-autocomplete {
  &-item {
    &.highlighted {
      font-weight: 500;
    }
  }
}

.react-autosuggest {
  &__suggestions-list {
    margin: 0;
    padding: 0;
  }

  &__suggestion {
    list-style-type: none;
  }
}