@font-face {
  font-family: 'GT-Walsheim';
  src: local('GT-Walsheim-Regular'),
    url(../../assets/fonts/GT-Walsheim-Regular.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: local('GT-Walsheim-Bold'),
    url(../../assets/fonts/GT-Walsheim-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: local('GT-Walsheim-Light'),
    url(../../assets/fonts/GT-Walsheim-Light.woff) format('woff');
  font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GT-Walsheim';
  background-color: #26cac8;

  * {
    box-sizing: inherit;
    font-family: 'GT-Walsheim';
  }
}

.home {

  &-container {
    margin: 65px 101px;
  }

  &-header {
    text-align: right;
  }

  &-main-section {

    &-title {
      color: white;
      font-size: 48px;
      letter-spacing: 1px;
    }

    &-button {
      background-color: white;
      border: 1px solid white;
      border-radius: 8px;
      cursor: pointer;
      color: #26cac8;
      font-size: 18px;
      letter-spacing: 1px;
      padding: 20px 42px;
    }
  }

  &-card-section {
    margin-top: 108px;
    display: flex;
    flex-wrap: wrap;  
  }

}
